{% extends layout.html %}

{% block title %}Pro Loco San Salvatore Telesino{% endblock %}

{% block content %}

<div class="art-contentLayout">
<div class="art-content">

 
<div class="art-Post">
    <div class="art-Post-tl"></div>
    <div class="art-Post-tr"></div>
    <div class="art-Post-bl"></div>
    <div class="art-Post-br"></div>
    <div class="art-Post-tc"></div>
    <div class="art-Post-bc"></div>
    <div class="art-Post-cl"></div>
    <div class="art-Post-cr"></div>
    <div class="art-Post-cc"></div>
    <div class="art-Post-body">
<div class="art-Post-inner art-article">
<div class="art-PostMetadataHeader">
<h2 class="art-PostHeader">
<a href="./?page_id=2287" rel="bookmark" title="Permalink a Contatti">
Contatti</a>
</h2>

</div>
<div class="art-PostContent">

          <p>Numero di telefono: <strong>0824-948144</strong></p>
<p>E-mail: <strong>sansalvatore@unplibenevento.it</strong></p>
<p>Indirizzo: via Cosimo Mastracchio, 1 San Salvatore Telesino (BN)</p>
<p>Link utili:</p>
<p>facebook pro loco:&nbsp;&nbsp;<a href="https://www.facebook.com/ProLocoSanSalvatoreTelesino/">https://www.facebook.com/ProLocoSanSalvatoreTelesino/</a></p>
<p>facebook festa dello struppolo:&nbsp;&nbsp;<a href="https://www.facebook.com/festadellostruppolo/">https://www.facebook.com/festadellostruppolo/</a></p>
<p>instagram: -prolocosansalvatoretelesino</p>
<p>&nbsp;</p>

<p class="FacebookLikeButton"><iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.prolocosansalvatoretelesino.it%2F%3Fpage_id%3D2287&amp;layout=standard&amp;show_faces=yes&amp;width=450&amp;action=like&amp;colorscheme=light&amp;locale=it_IT" scrolling="no" frameborder="0" allowTransparency="true" style="border:none; overflow:hidden; width:450px; height: 25px"></iframe></p>
<div align="right"><div class="sharexyWidgetNoindexUniqueClassName"><div id="shr_10868926"></div></div></div>                  
</div>
<div class="cleared"></div>

</div>

		<div class="cleared"></div>
    </div>
</div>


<!-- You can start editing here. -->


			<!-- If comments are closed. -->
<div class="art-Post">
    <div class="art-Post-tl"></div>
    <div class="art-Post-tr"></div>
    <div class="art-Post-bl"></div>
    <div class="art-Post-br"></div>
    <div class="art-Post-tc"></div>
    <div class="art-Post-bc"></div>
    <div class="art-Post-cl"></div>
    <div class="art-Post-cr"></div>
    <div class="art-Post-cc"></div>
    <div class="art-Post-body">
<div class="art-Post-inner art-article">

<div class="art-PostContent">

<p class="nocomments">I Commenti sono chiusi</p>

</div>
<div class="cleared"></div>


</div>

		<div class="cleared"></div>
    </div>
</div>




</div>

{% endblock %}