{% extends layout.html %}

{% block title %}Pro Loco San Salvatore Telesino{% endblock %}

{% block content %}
<div class="art-contentLayout">
<div class="art-content">

<div class="art-Post">
    <div class="art-Post-tl"></div>
    <div class="art-Post-tr"></div>
    <div class="art-Post-bl"></div>
    <div class="art-Post-br"></div>
    <div class="art-Post-tc"></div>
    <div class="art-Post-bc"></div>
    <div class="art-Post-cl"></div>
    <div class="art-Post-cr"></div>
    <div class="art-Post-cc"></div>
    <div class="art-Post-body">
<div class="art-Post-inner art-article">

<div class="art-PostContent">

<div class="navigation">
	<div class="alignleft">&laquo; <a href="./index.php?page_id=p407" rel="prev">XX EDIZIONE GIORNATA FAI DI PRIMAVERA</a></div>
	<div class="alignright"><a href="./index.php?page_id=p413" rel="next">Bonsai in piazza per aiutare l&#8217; ANLAIDS</a> &raquo;</div>
</div>

</div>
<div class="cleared"></div>


</div>

		<div class="cleared"></div>
    </div>
</div>

<div class="art-Post">
    <div class="art-Post-tl"></div>
    <div class="art-Post-tr"></div>
    <div class="art-Post-bl"></div>
    <div class="art-Post-br"></div>
    <div class="art-Post-tc"></div>
    <div class="art-Post-bc"></div>
    <div class="art-Post-cl"></div>
    <div class="art-Post-cr"></div>
    <div class="art-Post-cc"></div>
    <div class="art-Post-body">
<div class="art-Post-inner art-article">
<div class="art-PostMetadataHeader">
<h2 class="art-PostHeader">
<a href="./index.php?page_id=p410" rel="bookmark" title="Permalink a Giornata FAI">
Giornata FAI</a>
</h2>

</div>
<div class="art-PostHeaderIcons art-metadata-icons">
29 marzo 2012 | Autore: <a href="./?author=1" title="Articoli scritti da: admin" rel="author">admin</a>
</div>
<div class="art-PostContent">

          <p>La XX edizione della Giornata Fai di Primavera ha riscosso a S. Salvatore Telesino il più pieno successo. Sono infatti stati numerosissimi i visitatori che, accompagnati da guide particolarmente preparate, hanno potuto ammirare il complesso dell’Abbazia benedettina del Santo Salvatore, sede dell’Antiquarium, oltre al sito archeologico dell’antica città di Telesia, con la sua imponente cinta muraria e il maestoso anfiteatro. Con analogo interesse è stato visitato il castello Monsorio (ora Pacelli), aperto ai visitatori in occasione di questo evento. Un grazie quindi al FAI, all’Amministrazione comunale, alla Pro Loco ed agli Amici della Biblioteca di San Salvatore Telesino per l’ottima organizzazione della manifestazione e l’augurio che un’esperienza tanto positiva possa trovare seguito in altre iniziative per la promozione e lo sviluppo di un territorio che ha tanto da offrire.</p>

<p class="FacebookLikeButton"><iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.prolocosansalvatoretelesino.it%2F%3Fp%3D410&amp;layout=standard&amp;show_faces=yes&amp;width=450&amp;action=like&amp;colorscheme=light&amp;locale=it_IT" scrolling="no" frameborder="0" allowTransparency="true" style="border:none; overflow:hidden; width:450px; height: 25px"></iframe></p>
<div align="right"><div class="sharexyWidgetNoindexUniqueClassName"><div id="shr_97547004"></div></div></div>                  
</div>
<div class="cleared"></div>
<div class="art-PostMetadataFooter">
<div class="art-PostFooterIcons art-metadata-icons">
Pubblicato in <a href="./?cat=1" title="Visualizza tutti gli articoli in news" rel="category">news</a>
</div>

</div>

</div>

		<div class="cleared"></div>
    </div>
</div>


<!-- You can start editing here. -->


			<!-- If comments are open, but there are no comments. -->

	 

<div class="art-Post">
    <div class="art-Post-tl"></div>
    <div class="art-Post-tr"></div>
    <div class="art-Post-bl"></div>
    <div class="art-Post-br"></div>
    <div class="art-Post-tc"></div>
    <div class="art-Post-bc"></div>
    <div class="art-Post-cl"></div>
    <div class="art-Post-cr"></div>
    <div class="art-Post-cc"></div>
    <div class="art-Post-body">
<div class="art-Post-inner art-article">

<div class="art-PostContent">

<div id="respond">
  
  <h3>Lascia un Commento</h3>

<div class="cancel-comment-reply">
	<small><a rel="nofollow" id="cancel-comment-reply-link" href="/?p=410#respond" style="display:none;">Fare clic qui per annullare la risposta.</a></small>
</div>


<form action="./wp-comments-post.php" method="post" id="commentform">


<p><input type="text" name="author" id="author" value="" size="22" tabindex="1" aria-required='true' />
<label for="author"><small>Nome (obbligatorio)</small></label></p>

<p><input type="text" name="email" id="email" value="" size="22" tabindex="2" aria-required='true' />
<label for="email"><small>Mail (che non verrà pubblicata) (obbligatorio)</small></label></p>

<p><input type="text" name="url" id="url" value="" size="22" tabindex="3" />
<label for="url"><small>Sito web</small></label></p>


<!--<p><small><strong>XHTML:</strong> &Egrave; possibile utilizzare questi marcatori: <code>&lt;a href=&quot;&quot; title=&quot;&quot;&gt; &lt;abbr title=&quot;&quot;&gt; &lt;acronym title=&quot;&quot;&gt; &lt;b&gt; &lt;blockquote cite=&quot;&quot;&gt; &lt;cite&gt; &lt;code&gt; &lt;del datetime=&quot;&quot;&gt; &lt;em&gt; &lt;i&gt; &lt;q cite=&quot;&quot;&gt; &lt;strike&gt; &lt;strong&gt; </code></small></p>-->

<p><textarea name="comment" id="comment" cols="100%" rows="10" tabindex="4"></textarea></p>

<p>
	<span class="art-button-wrapper">
		<span class="l"> </span>
		<span class="r"> </span>
		<input class="art-button" type="submit" name="submit" tabindex="5" value="Invia commento"/>
	</span>
<input type='hidden' name='comment_post_ID' value='410' id='comment_post_ID' />
<input type='hidden' name='comment_parent' id='comment_parent' value='0' />
</p>
<p style="display: none;"><input type="hidden" id="akismet_comment_nonce" name="akismet_comment_nonce" value="f177d12167" /></p>
</form>

</div>

</div>
<div class="cleared"></div>


</div>

		<div class="cleared"></div>
    </div>
</div>


</div>
{% endblock %}